<div class="navBar">
    <div class="logo">
        <h3> Fake shop </h3>
    </div>
    <a href="/">
        <h3>Home</h3>
    </a>
    <a class="" href="store">
        <h3 class="">Store</h3>
    </a>
    <a class="" href="addpicture">
        <h3 class="">Sell</h3>
    </a>
    <a class="cart" href="cart">
        <button><h3>Cart</h3></button>
    </a>
    
    <div class="burger">
        <div class="burgerLine1"></div>
        <div class="burgerLine2"></div>
        <div class="burgerLine3"></div>
    </div>
</div>