:root{
    --burgerBackgroundColor:rgb(235, 235, 235);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(187, 187, 187);
    color:white;
}
.navBar{
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    margin:0% 10%;
}
.logo{
    flex-grow: 2;
    text-shadow: 2px 2px 5px black;
}
.navBar a{
    flex-grow: 1;
    text-align:center;
    color:rgba(255, 255, 255, 0.8);
    text-decoration:none;   
}
.navBar a:hover {
    border-bottom: white 3px solid;
}
.cart button{
    color: white;
    border:none;
    background-color:rgba(0, 0, 0, 0);
    cursor: pointer;
}
.content{
    background-color:rgba(220, 220, 220, 0.233);
    padding: 20px;
    margin: 0% 10%;
}
.content h3{
    color:grey;
    font-size: 1em;
    margin: 2% 0%;
}
.content h1{
    color:rgb(70, 70, 70);
}
.currentPage{
    color: blue;
}


.productContainer{
    margin:20px;
    text-align:center;
    width: 400px;
    height: auto;
    background-color: rgba(0, 0, 255, 0.089);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.216), 10px 10px 10px rgba(0, 0, 0, 0.116),15px 15px 15px rgba(0, 0, 0, 0.016);
    
}
.picture{
    width: 400px;
    position: relative;
}
.picture img{
    margin:auto;
    width: 100%;
}
.imageStore{
    width: auto;
    background-color: rgba(0, 0, 0, 0.219);
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.price{
    color:rgb(0, 255, 0);
    font-weight: bold  ;
}
.productContainer:hover{
    cursor: pointer;
}
.productContainer:hover .picture img{
    opacity:0;
    transition: .4s;
}
.productContainer:hover .buy{
    opacity:1;
    transition: .4s;
}
.buy{
    position: absolute;
    text-align:center ;
    left:50%;top:50%;
    transform: translate(-50% , -50%);
    color:green;
    font-weight: bolder;
    font-size: 2em;
    background-color:rgb(15, 211, 8);
    border-radius: 50%;
    height: 30%;
    opacity: 0;
}
@media only screen and (max-width: 700px){
    .navBar a{
        display: none;
    }
    .burger{
        height: 25px;
        width: 25px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.192);
        background-color: rgba(0, 0, 0, 0.192);
        cursor: pointer;
    }
    .burgerLine1{
        height: 20%;
        width: 100%;
        background-color: var(--burgerBackgroundColor);
        margin-bottom: 3px;
    }
    .burgerLine2{
        height: 20%;
        width: 100%;
        background-color: var(--burgerBackgroundColor);
        margin-bottom: 3px;
    }
    .burgerLine3{
        height: 20%;
        width: 100%;
        background-color: var(--burgerBackgroundColor);
        margin-bottom: 3px;
    }
}