<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
<body>
    <%- include ('./partials/nav.ejs') %>
    <div class="content cartContainer">
        <div class="buyingImage">
            image
            <div id="buyingImage">
            </div>
        </div>
        <div class="buyingName">
            Name
            <div id="buyingName">
                
            </div>
        </div>
        <div class="buyingPrice">
            Price
            <div id="buyingName">
                
            </div>
        </div>
        <div class="buyingQuantity">
            Quantity
            <div id="buyingName">
                
            </div>
        </div>
    </div>
</body>

</html>