<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
<body>
    <%- include ('./partials/nav.ejs') %>
    <div class="content frontPageDark">
    <h3>You can buy and sell an item</h3>
    <h1>

        <%= title %>
        Buy some Pictures now! OR You sell yours</h1>
    <h3>
        Buy a picture! Choose anything that you want. We are happy to serve you.
    </h3>
    <button class="button button1"><a href="store">Buy Now</a></button>
    <button class="button button2"><a href="addpicture" >Sell yours?</a></button>
    </div>

</body>

</html>
<!--
    1:50pm
-->