:root{
    --burgerBackgroundColor:rgb(235, 235, 235);
    --color1: rgb(238, 132, 52);
    --color2: rgb(201, 93, 99);
    --color3: rgb(174, 135, 153);
    --color4: rgb(113, 126, 195);
    --color5: rgb(73, 109, 219);
    --color6:  rgb(29, 29, 29);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: var(--color6);
    color:white;

}
.navBar{
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    margin:0% 10%;
}
.logo{
    flex-grow: 2;
    text-shadow: 2px 2px 5px var(--color5);
}
.navBar a{
    flex-grow: 1;
    text-align:center;
    color:whitesmoke;
    text-decoration:none;   
}
.navBar a:hover {
    color: grey;
}
.content{
    padding: 20px;
    margin: 0% 10%;
}
.content h3{
    color:var(--color2);
    font-size: 1.2rem;
    margin: 2% 0%;
    width: 90%;
}
.content h1{
    color:var(--color1);
    width: 60%;
    font-weight: 900;
    font-size: 1.6em;
    text-transform: uppercase;
}
.frontPageDark{
    width: 100%;
    margin: 0%;
    padding: 10%;
    background-color: var(--color6);
}
.button{
    width: 110px;
    height: 7vh;
    margin: 10px 10px 0px 0px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 6px;
}
.button1{
    background-color: var(--color1);
    border:none;
    color:white;
    font-weight: bold;

}
.button1 a{
    color: white;
    text-decoration: none;
}
.button2{
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid  var(--color2);
}
.button2 a{
    color:  var(--color2);
    text-decoration: none;

}
.productContainer{
    position: relative;
    margin:20px;
    text-align:center;
    max-width: 20rem;
    background-color: rgba(0, 0, 255, 0.089);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.216), 10px 10px 10px rgba(0, 0, 0, 0.116),15px 15px 15px rgba(0, 0, 0, 0.016);
    
}
.picture{
    width: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    height: 20vh;
}
.picture img{
    margin:auto;
    width: 100%;
}
.imageStore{
    width: auto;
    background-color: rgba(0, 0, 0, 0.219);
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.productContainer:hover .picture img{
    opacity:0;
    transition: .4s;
}
.productContainer:hover .buy{
    opacity:1;
    transition: .4s;
}
.productContainer button {
    height: 2rem;
    width: 3rem;
    padding: 7px;
    margin:10px;
    background-color: rgb(0, 128, 0);
    font-weight: 700;
    border:none;
    box-shadow: 1px 1px 3px;
    cursor: pointer;
}
.buy{
    display: flex;
    position: absolute;
    text-align:center ;
    left:50%;top:50%;
    transform: translate(-50% , -50%);
    color:greenyellow;
    font-weight: bolder;
    font-size: 2em;
    background-color:rgb(15, 211, 8);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    opacity: 0;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 600px){

    /*========                HOME PAGE               =======*/
    .navBar a{
        display: none;
    }
    .burger{
        height: 25px;
        width: 25px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.192);
        background-color: rgba(0, 0, 0, 0.192);
        cursor: pointer;
    }
    .burgerLine1{
        height: 20%;
        width: 100%;
        background-color: var(--burgerBackgroundColor);
        margin-bottom: 3px;
    }
    .burgerLine2{
        height: 20%;
        width: 100%;
        background-color: var(--burgerBackgroundColor);
        margin-bottom: 3px;
    }
    .burgerLine3{
        height: 20%;
        width: 100%;
        background-color: var(--burgerBackgroundColor);
        margin-bottom: 3px;
    }
    .content h1{
        font-size: 1.2em;
        width: 90%;
    }
    .content h3{
        font-size: .8em;
        width: 90%;
    }
}
/*]=====                  HOMEPAGE            ======*/
